# Core dependencies
fastapi
uvicorn[standard]
click
python-dotenv
nest-asyncio

# LangChain and AI
langchain
langchain-community
langchain-google-genai
browser-use

# Web scraping
playwright
beautifulsoup4
lxml
undetected_playwright

# Data processing
pydantic
numpy
requests
scikit-learn

#vector databases
chromadb


#templating and static files
jinja2


# Optional (for future)
# fastapi-limiter
# redis
# psycopg2-binary